@import url('./global/global.css');
@import url('./components/components.css');

header{
  display: flex;
  justify-content: center;
  margin: 18px auto;
}
.logo{
  width: 300px;
}

h1{
  text-align: center;
  margin: 62px;
  font-family: Inter;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.text-yellow{
  color: var(--color-secondary);
}

.seta{
  width: 40px;
  position: absolute;
  top: 10px;
  animation: arrow .5s infinite alternate;
}
@keyframes arrow {
  from{
    top: 10px;
  }to{
    top: 0px;
  }
}
.roleta{
   position: relative;
   max-width: 500px;
}
.roleta-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.roleta.spin{
  animation: spinning 3s ease-in-out forwards;
}

@keyframes spinning {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(985deg);
  }
}


@media(max-width: 600px){
  .logo{
    width: 200px;
  }
  h1{
    font-size: 1rem;
    margin: 32px;
  }
}
