* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-light);
  font-family: inter;
}
body{
  height: 100vh;
  background: var(--bg-body);  
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
img{
  width: 100%;
}
a{
  text-decoration: none;
}
header{
  display: flex;
  justify-content: center;
  margin: 18px auto;
}

.logo{
  margin-top: 10px;
  max-width: 200px;
}
