.section-roleta{
  display: none;
}
.section-roleta.ativo{
  display: block;
}
.title{
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  margin: 32px 5%;
  font-size: 2rem;
}

.roleta-content{
  display: flex;
  margin: 0 auto;
  max-width: 500px;
  overflow: hidden;
  position: relative;
  border: 4px solid #fff;
  border-radius: 50%;
}
.roleta{
  transform: rotate(180deg);
}

.section-roleta > .btn{
  margin: 54px auto;
}

.roleta.spin{
  animation: spinning 8s ease-out forwards;
}

@keyframes spinning {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(2528deg);
  }
}

.circle{
  max-width: 80px;
  position: absolute;
  top: 43%;
  left: 43%;
}


@media(max-width:600px){
  .section-roleta.ativo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title{
    font-size: 1.4rem;
  }
  .roleta-content{
    width: 400px;
  }
  
}

@media(max-width:500px){
  .roleta-content{
    width: 250px;
  }
  .circle{
    width: 40px;
  }
}
