.section-roleta{
  display: none;
}
.section-roleta.ativo{
  display: block;
}

.roleta{
  display: flex;
  margin: 0 auto;
  max-width: 500px;
  overflow: hidden;
  position: relative;
  border: 4px solid #fff;
  border-radius: 50%;
}

.section-roleta > .btn{
  margin: 54px auto;
}

.roleta.spin{
  animation: spinning 8s ease-out forwards;
}

@keyframes spinning {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(2525deg);
  }
}

.circle{
  max-width: 80px;
  position: absolute;
  top: 51%;
  left: 49%;
}
@media(max-width:1300px){
  .circle{
  left: 47%;
  }
}

@media(max-width:600px){
  .roleta{
    width: 400px;
  }
.circle{
  top: 40%;
  left: 45%;
}
}

@media(max-width:500px){
  .roleta{
    width: 300px;
  }
.circle{
  width: 50px;
  top: 35%;
  left: 46%;
}
}



