.section-text {
  display: none;
}
.section-text.ativo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-content {
  display: flex;
  align-items: center;
  gap: 12px;
  margin:182px auto 0 auto;
  animation: textOpacity 400ms forwards;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.title-content h1{
  font-weight: 600;
  font-size: 3rem;
}

.presente-icon{
  width: 50px;
}


.text-secondary{
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 62px;
  animation: textOpacity 2s forwards;
}
.section-text.ativo p {
  font-weight: 600;
  max-width: 40ch;
  font-size: 2rem;
  margin: 62px 5%;
  text-align: center;
  text-transform: uppercase;
  animation: textOpacity 3s forwards;
}

@keyframes textOpacity {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}



@media(max-width:600px){
  .title-content{
  margin:120px auto 0 auto;
  }
  .text-secondary{
    font-size: 1.4rem;
  }
  .section-text.ativo p{
  font-size: 1.6rem;

  }
  .presente-icon{
    width: 50px;
  }
}
@media(max-width:500px){
  .title-content h1{
    font-weight: 600;
    font-size: 2rem;
  }
  .presente-icon{
    width: 40px;
  }
  .text-secondary{
    font-size: 1.2rem;
  }
}
@media(max-width:400px){
  .title-content{
    margin:100px auto 0 auto;
    }
  .text-secondary{
    font-size: 1rem;
    margin-bottom: 32px;
  }
  .section-text.ativo p{
  font-size: 1.2rem;
margin-bottom: 80px;
  }
}