:root{
  --bg-body:linear-gradient(180deg, #000B17 23.23%, #03172F 52.19%, #002D65 122.8%);
  --text-light:#ffffff;
  --text-dark:#403900;
  --color-primary:#03172F;
  --color-secondary:#F9E638;
  --button:#FFE500
}

.btn{
  display: flex;
  font-family: inter, sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  padding:18px 55px ;
  border-radius: 8px;
  background: var(--button);
  animation: opacity 1s infinite alternate;
  cursor: pointer;
  color: var(--text-dark);
  max-width: max-content;
  margin: 0 auto;
}

.btn-text{
  display: none;

}
.btn-text.ativo{
  display: flex;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  padding:18px 55px ;
  border-radius: 8px;
  background: var(--button);
  animation: opacity-border 1s infinite alternate;
  cursor: pointer;
  color: var(--text-dark);
  max-width: max-content;
  margin: 32px auto;
}


@media(max-width:600px){
  .btn{
  padding:12px 32px ;
  }
  .btn-text.ativo{
    padding:12px 32px ;
  }
}

@keyframes opacity-border {
  from{
    box-shadow: 0px;
  }to{
    box-shadow: 0px 0px 12px 4px #FFD700;
  }
}

.text-yellow{
  color: var(--color-secondary);
}
